{% extends "blogs/base.html" %}
{% load django_bootstrap5 %}

{% block page_header %}
  <h2>Add a new blog</h2>
{% endblock page_header %}

{% block content %}
  <form action="{% url 'blogs:new_blog' %}" method="post">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% bootstrap_button button_type="submit" content="Add new blog" %}
  </form>
<br>
<div class="p-1 text-danger">
  <p class="fw">NOTE! Your blog will not be published until it is pushed live
    on the "Review Blogs" page.
  </p>
  </div>
{% endblock content %}